
.row {
  padding: 0;
  margin: 0;
  height: 5px;
}

.cell {
  display: inline-block;
  width: 5px;
  height: 5px;
  padding: 0;
  margin: 0;

  &.empty {
    background-color: black;
  }

  &.bush {
    background-color: green;
  }
  
  &.grass {
    background-color: lightgreen;
  }
  
  &.tree {
    background-color: darkgreen;
  }
}
