doctype html
html
  head
    link( rel="stylesheet" href="/styles/game.css" )
    script( src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" )
    script( type="application/javascript" src="/scripts/game.js" )
  body
    h1 WebDwarfs
    div#viewer
