.row {
  padding: 0;
  margin: 0;
  height: 25px;
}
.cell {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
}
.cell.empty {
  background-color: #000;
}
.cell.bush {
  background-color: #008000;
}
.cell.grass {
  background-color: #90ee90;
}
.cell.tree {
  background-color: #006400;
}
